:root {
  margin: 0;
  padding: 0;
  display: block;

--size-items: 0.25rem;

--color-nav: #f3f3f3;
--color-js: #F0DB4F;
--primary-font: poppins;
}

.nav__header {
  background-color: var(--color-nav);
  margin: calc(var(--size-items) * 4);
}

.nav__titulo {
  font-size: calc(var(--size-items) * 12);
  font-family: var(--primary-font);
  text-shadow: 5px 10px 10px #000;
  text-align: center;
}

.nav__span {
  color: var(--color-js);
  -webkit-text-stroke-width: calc(var(--size-items) * 0.1);
  -webkit-text-stroke-color: #323330
}

.nav__header__list {
  justify-items: center;
  background-color: #323330;

}

.nav__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  padding-top: 15px;
}

.nav__list__items__link__normal {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.nav__list__items {
  list-style: none;
  padding: 5px;
  text-align: center;
  margin: 5px;
}

.nav__list__items__link-hover {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.nav__list__items__drop:hover .nav__drop__content{
  display: block;
}

.nav__drop__content {
  display: none;
  position: absolute;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
