* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
  padding: .5rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logo a {
  font-size: 1.5rem;
  color: #ffcc00;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.subraya {
  border: 2px solid white;
  border-radius: 15px;
}

.subraya:hover {
  box-shadow: 0 0 10px white;
}

.menu
.link {
  color: white;
}

.menu
.link:hover {
  color: #ffcc00;
}

.menu li {
  position: relative;
  display: inline-block;
}

.menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(255, 254, 254, 0.2);
  z-index: 1000;
}

.menu li:hover > .submenu {
  display: block;
  background-color: black;
  color: white;
  scale: 1.05;
  transition: 0.20s;
}

.menu li:hover > .submenu a:hover {
  background-color: #ffcc00;
  padding-right: 2rem;
  color: black;
}

.hero-banner {
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url(img-principal/img-banner-nav.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.hero-text {
  font-size: 1.5rem;
}

.hero-span {
  color: #ffcc00;
}

.btn-ver {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: .5rem 2rem;
  margin-top: 1rem;
}

.btn-ver:hover {
  background-color: white;
  color: black;
  scale: 1.05;
  transition: 0.20s;
}